/* Inerte ao body */
body {
    overflow: hidden;
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Classe com background noturno */
body.nighty {
    background-image: url("../assets/img/night_time1024x768.jpg");
}

/* Classe com background noturno animado */
body.nighty-animated {
    background-image: url("../assets/img/night_time1024x768.gif");
}

#clouds, #sky, #night, #stars{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
}

#sky{
    background:#fff url(../assets/img/sky.png) repeat-x top left;
    z-index:1;
}

#sun_yellow{
    position:absolute;
    left:45%;
    top:50%;
    width:150px;
    height:152px;
    background:transparent url(../assets/img/sun.png) no-repeat center center;
    z-index:2;
}

#sun_red{
    position:absolute;
    left:45%;
    top:50%;
    width:150px;
    height:152px;
    background:transparent url(../assets/img/sun2.png) no-repeat center center;
    z-index:2;
    opacity:0;
}

#clouds{
    background:transparent url(../assets/img/clouds.png) repeat-x top left;
    z-index:3;
}

#ground{
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:232px;
    background:transparent url(../assets/img/ground.png) repeat-x bottom center;
    z-index:3;
}

#night{
    background-color:#000;
    z-index:4;
    opacity:0;
}

#stars{
    bottom:200px;
    background:transparent url(../assets/img/stars.png) repeat bottom center;
    z-index:5;
    opacity:0;
}

#sstar{
    position:absolute;
    left:40%;
    top:10%;
    width:126px;
    height:80px;
    background:transparent url(../assets/img/shootingstar.png) no-repeat 80px -200px;
    z-index:5;
    opacity:0;
}

#moon{
    position:absolute;
    left:45%;
    top:60%;
    width:168px;
    height:168px;
    background:transparent url(../assets/img/moon.png) no-repeat center center;
    z-index:6;
    opacity:0;
}